uvicorn
fastapi
substrate-interface
torch
datasets
transformers
diffusers
safetensors
accelerate
#visual tools
streamlit
plotly
sse-starlette
#misc
msgpack_numpy
retry
psutil
openai
scipy
loguru
rich
aiofiles
aiohttp
nest_asyncio
web3
python-dotenv

# ray
# ray[default]
# ray[tune]
#logging